extends layout

block content
  h2 New Contact Form Submission
  .info-row
    p
      strong Subject:&nbsp;
      | #{contact.subject}
  .info-row
    p
      strong From:&nbsp;
      | #{contact.name}
    p
      strong Email:&nbsp;
      a(href='mailto:#{contact.email}') #{contact.email}
    if contact.phone
      p
        strong Phone:&nbsp;
        a(href='tel:#{contact.phone}') #{contact.phone}
  .info-row
    p
      strong Message:
    p(style='white-space:pre-wrap;') #{contact.message}
  .info-row
    p
      strong Received:&nbsp;
      | #{new Date(contact.createdAt).toLocaleString('en-GB', { dateStyle: 'medium', timeStyle: 'short' })}
  p(style='text-align:center;')
    a.btn(href=url) View in Admin Dashboard
